:root {
  --main-color: #4d4e53;
}
/* ----global selector---- */
* {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* ---end global selector */
.content {
  display: flex;
}
nav {
  padding: 10px;
}
nav a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color);
  text-decoration: none;
  text-align: center;
}
