:root {
  --main-color: #4d4e53;
}
/* ----global selector---- */
* {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  line-height: 1.5;
  background-color: #242526;
  color: #f1f1f1;
  list-style: none;
}
/* .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */
/* ---end global selector */
.content {
  display: flex;
}
nav {
  padding: 5px;
  position: fixed;
  height: 100%;
  width: 300px;
  min-width: 290px;
  top: 0;
  left: 0;
  border-right: solid;
  border-color: var(--main-color);
  overflow-y: scroll;
}
nav header {
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  color: var(--main-color);
}
nav a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid var(--main-color);
  color: #a9acb1;
  text-decoration: none;
  text-align: center;
}
/* start main */
main {
  margin-left: 310px;
  position: absolute;
  padding: 20px;
  margin-bottom: 110px;
}
.main-section {
  margin-bottom: 20px;
  margin-top: 20px;
}
.main-section header {
  font-size: 19px;
  font-weight: 700;
  font-size: 19px;
  font-weight: 700;
  color: #0084ff;
}
#Introduction p {
  padding-left: 20px;
}
#Introduction li {
  padding-left: 70px;
  padding-top: 10px;
  list-style: var(--main-color);
}
li::before {
  content: "\2022";
  width: 1em;
  color: #0084ff;
  font-weight: bold;
  display: inline-block;
}
